@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
body {
  margin: 0px;
  padding: 0px;
  font-family: 'Ubuntu', sans-serif;
  background-image: url('/computer-blue-opacity-background.jpg');
  color:white;
}

.menu {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: right;
  margin-top: 15px;
}

.menu li {
  list-style-type: none;
  display: inline;
  padding-inline-start: 20px;
  
}

.menu a {
  color: white;
  text-decoration: none;
}

.menu a:hover {
  color: coral ;
}

blockquote {
  text-transform: uppercase;
  border-left: 7px solid aqua;
  padding-left: 7px;
  font-size: 20px;
}

.welcome {
  background-color: #4c6ca0;
  border: 2px solid gray;
  padding: 15px 20px;
  max-width: 350px;
}

h4 {
  text-align: center;
  font-weight: bolder;
}

ul {
  list-style: none;
}

img {
  width: 200px;
}

.parvesh {
  border: 3px #4c6ca0 solid;
  padding: 10px 15px;
  text-align: center;
}

.jeya {
  border: 3px #4c6ca0 solid;
  padding: 10px 15px;
  text-align: center; 
}



